/* Styles de base pour la page */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Dégradé violet */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff; /* Texte en blanc */
}

.containerx {
    width: 70%;
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* Dégradé violet pour containerx */
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff; /* Texte en blanc */
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour les boutons */
button {
    padding: 12px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Dégradé violet */
    color: #fff; /* Texte en blanc */
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transition fluide */
    display: inline-block;
    text-decoration: none;
}

button a {
    color: #fff; /* Texte en blanc */
    text-decoration: none;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb); /* Inversion des couleurs au survol */
    transform: scale(1.05); /* Agrandir légèrement au survol */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
}

button:active {
    transform: scale(0.95); /* Réduction au clic */
}

/* Styles du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    color: #fff; /* Texte en blanc pour le tableau */
}

th {
    background-color: #f4f4f4;
    color: black;
}

td {
    background-color: #2c3e50; /* Fond gris foncé */
}



/* Styles pour les boutons d'action */
.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #28a745; /* Vert pour l'édition */
    color: white;
}

.delete-btn {
    background-color: #dc3545; /* Rouge pour la suppression */
    color: white;
}

.archive-btn {
    background-color: #ffc107; /* Jaune pour l'archivage */
    color: white;
}

.update-btn {
    background-color: #17a2b8; /* Bleu pour la mise à jour */
    color: white;
}
